<header
  class="left-0 right-0 z-10001 flex items-center justify-around px-4 md:px-8 py-2 bg-white backdrop-blur-md font-medium shadow-lg"
>
  <div class="flex items-center gap-6">
    <button class="md:hidden" (click)="do()">
      <lucide-icon [name]="menu" class="w-6 h-6"></lucide-icon>
    </button>

    <logo />

    <nav class="hidden md:flex items-center gap-6 text-sm mt-1">
      <a routerLink="/" class="hover:underline">Buy</a>
      <button class="hover:underline" (click)="onNewPostClick()">Sell</button>
      <button class="hover:underline">My Home</button>
      <button class="hover:underline">Nearby Shops & Markets</button>
      <button class="hover:underline">Get Help</button>
    </nav>
  </div>

  <div class="hidden md:flex items-center gap-4 mt-1">
    @if (!auth.isLoggedIn()) {
    <button
      (click)="
        modalservice.open(UserSignin, {
          size: 'lg',
        })
      "
    >
      sign in
    </button>

    <button
      (click)="
        modalservice.open(UserSignup, {
          size: 'lg',
        })
      "
      class="text-sm border border-white px-3 py-1 rounded-full bg-black text-white transition"
    >
      sign up
    </button>
    } @if (auth.isLoggedIn()) {
    <a routerLink="/notifications" class="relative flex items-center">
      <lucide-icon [name]="bell" class="w-5 h-5"></lucide-icon>

      @if (notificationsStore.notificationCounter()) {
      <div
        class="absolute -top-1 -right-1 bg-red-500 text-xs font-bold rounded-full w-3 h-3 flex items-center justify-center"
      >
        {{ notificationsStore.notificationCounter() }}
      </div>
      }
    </a>

    <button (click)="go('bookmarks')">
      <lucide-icon [name]="heart" class="w-5 h-5"></lucide-icon>
    </button>

    <div class="relative">
      <button (click)="toggleDropdown()" class="flex items-center gap-2 pl-3">
        <div
          class="w-8 h-8 rounded-full bg-gray-200 flex items-center justify-center font-bold uppercase"
        >
          {{ getInitial() }}
        </div>
      </button>

      @if (dropdownOpen()) {
      <div class="absolute right-0 mt-2 w-44 bg-gray-700 rounded-lg shadow-lg text-sm py-2">
        <p class="px-4 pb-2 text-gray-300 border-b border-gray-600 text-xs">
          {{ auth.userEmail() }}
        </p>

        <button (click)="go('settings')" class="px-4 py-2 text-gray-200 hover:bg-gray-600">
          Settings
        </button>
        <button
          (click)="logout()"
          class="px-4 py-2 text-gray-200 hover:bg-gray-600 flex items-center gap-2"
        >
          <lucide-icon [name]="logOut" class="w-5 h-5"></lucide-icon>
          Log out
        </button>
      </div>
      }
    </div>
    }
  </div>
</header>
@if (warningMessage) {
<p class="text-red-600 text-sm ml-2">{{ warningMessage }}</p>
} @if (mobileOpen()) {
<div class="fixed inset-0 bg-black/40 z-9998" (click)="closeMobile()"></div>

<div
  class="fixed top-0 left-0 h-full w-72 bg-blue-600 text-white z-9999 shadow-xl p-6 flex flex-col gap-6 transition-transform duration-300 translate-x-0"
>
  <button class="self-end" (click)="closeMobile()">
    <lucide-icon [name]="x" class="w-6 h-6 rotate-90"></lucide-icon>
  </button>

  <a routerLink="/bookmarks" (click)="closeMobile()" class="flex items-center gap-2"> Saved </a>

  <button (click)="closeMobile()" class="flex items-center gap-2">Sell</button>

  @if (!auth.isLoggedIn()) {
  <button (click)="go('auth/sign-in'); closeMobile()" class="block text-left">Sign in</button>
  <button (click)="go('auth/sign-up'); closeMobile()" class="block text-left">Sign up</button>
  } @if (auth.isLoggedIn()) {

  <a routerLink="/notifications" (click)="closeMobile()" class="flex items-center gap-2">
    Notifications
  </a>

  <button (click)="go('settings'); closeMobile()" class="block text-left">Settings</button>
  <button (click)="logout(); closeMobile()" class="block text-left">Log out</button>

  }
</div>
}
