@import 'tailwindcss';

@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
}

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.55)), url('/house.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a:hover{
  cursor: pointer;
}

lucide-icon:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

label {
  margin-bottom: 0.25rem;
  font-weight: 500;
}

input {
  border-width: 1px;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.auth span {
  color: red;
}
